{% extends "layout.html" %}
{% block title %}Form{% endblock %}
{% block content %}
<div class="container">
    <div class="row p-5">
        <div class="col-1"></div>
        <div class="col-10 border p-3">
            <form action="api" method="post">
                <label for="date">Ange datum:</label><br/>
                <input type="date" name="date" id="date" min="2022-11-01" max={{max_date}} /><br/>
                <label for="prisklass">Ange prisklass:</label><br/>
                <select class="form-select" aria-label="Default select example" name="prisklass" id="prisklass">
                    <option value="SE1">Luleå / Norra Sverige</option>
                    <option value="SE2">Sundsvall / Norra Mellansverige</option>
                    <option value="SE3">Stockholm / Södra Mellansverige</option>
                    <option value="SE4">Malmö / Södra Sverige</option>
                </select><br/>
                <button type="submit" class="btn btn-primary mt-5">Submit</button> 
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock %}