{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row p-5">
        <div class="col-1"></div>
        <div class="col-10 border p-3">
            {% if error_no_date %}
            <div class="alert alert-danger" role="alert">
                Vänligen fyll i datum!
            </div>
            {% endif %}
            {% if error_no_prices %}
            <div class="alert alert-danger" role="alert">
                Morgondagens elpriser har inte publicerats ännu. Elpriserna publiceras vanligtvis runt kl 13.00. Försök igen senare.
            </div>
            {% endif %}
            <h3>Sök efter elpriser</h3><br>
            <p>Ange för vilket datum och för vilken prisklass du vill se elpriser.</p>
            <p class="fs-6 fw-light fst-italic">OBS: Morgondagens elpriser publiceras runt kl 13.00 varje dag. Historisk data är som äldst från 2022-11-01</p>
            <form action="api" method="post">
                <label for="date">Ange datum:</label><br/>
                <input type="date" name="date" id="date" min="2022-11-01" max={{max_date}} placeholder="{{placeholder}}"/><br/>
                <label for="prisklass">Ange prisklass:</label><br/>
                <select class="form-select" aria-label="Default select example" name="prisklass" id="prisklass">
                    <option value="SE1">SE1, Luleå / Norra Sverige</option>
                    <option value="SE2">SE2, Sundsvall / Norra Mellansverige</option>
                    <option value="SE3">SE3, Stockholm / Södra Mellansverige</option>
                    <option value="SE4">SE4, Malmö / Södra Sverige</option>
                </select><br/>
                <button type="submit" class="btn btn-primary mt-5">Submit</button> 
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock %}