{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="col-1"></div>
    <div class="col-10">
        <h3>Välkommen till vår elprisportal!</h3>
        <p>Här kan du enkelt och smidigt söka efter aktuella och historiska elpriser i Sverige. Vi har samlat in omfattande data för att hjälpa dig att hålla koll på elprisutvecklingen och fatta informerade beslut om din elanvändning.<br><br>

            <b>Aktuella elpriser:</b><br>
            Söker du efter de senaste elpriserna i ditt område? Använd vår sökfunktion för att hitta de mest aktuella priserna från olika elleverantörer i realtid.<br><br>
            
            <b>Historiska elpriser:</b><br>
            Vill du analysera tidigare elprisutveckling? Vi erbjuder historisk data som låter dig jämföra elpriser över tid och göra strategiska beslut baserat på historiska trender.<br><br>
            
            <b>Användarvänlig sökfunktion:</b><br>
            Vår sökfunktion är enkel att använda. Ange bara din prisklass och datum och få omedelbar åtkomst till relevant elprisinformation.<br><br>
            
            <b>Informationskällor:</b><br>
            Vi samlar in våra data från pålitliga källor och uppdaterar regelbundet för att säkerställa att du alltid har tillgång till de senaste priserna.<br><br>
            
            <b>Inget krav på registrering:</b><br>
            Det bästa av allt är att vår tjänst är helt kostnadsfri och kräver ingen registrering. Du kan söka efter elpriser när som helst utan några förpliktelser.<br><br>
            
            Oavsett om du är en privatperson eller företagare, gör vår elprisportal det enkelt att fatta välgrundade beslut om din elförbrukning och minimera dina elkostnader. Utforska och jämför elpriser idag för att hitta det bästa elavtalet som passar dina behov!</p>
        <a class="btn btn-primary mt-5 mb-5" href="/form" role="button">Klicka här för att söka efter Elpriser</a>
    </div>
    <div class="col-1"></div>
</div>
{% endblock %}