{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h1 class="text-center">Elpris</h1>
            <h2 class="text-center">Elpriser {{date}} för prisklass: {{priceclass}}</h2>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-5">
            {{ table|safe }}
        </div>
        <div class="col-7">
            {{ fig|safe }}
        </div>
    </div>
</div>
{% endblock %}